.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 16px 16px 16px 16px;
    margin: 16px 42px 16px 42px;
    font-size: 0.7em;
    color: #272822;
    background-color: #aed581;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    background-color: #c6e1a6;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 1);
}